.weather-container {
    flex: 1;
    max-width: 160px;
    padding: 1rem;
    font-weight: lighter;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow: 0 0 4px -3px rgba(0,0,0,0.3);
    color: white;
}
.clouds {
    background:
        linear-gradient(to bottom,
        rgba(128,128,128,0.2) 0%,
        rgba(64,64,64,0.5) 75%,
        rgba(0,0,0,1) 100%
        ),
        url('../assets/cloud.jpg');
    background-size: cover;
}
.temperature {
    font-size: 2rem;
    font-weight: bold;
}
.weather-category {
    font-size: 1.5rem;
}